:root {
    --primary-color: #ff9046;
    --secondary-color: #a9a9a9;
    --background-color: #232323;
    --text-color: white;
    --font-family: 'Arial', sans-serif;
    --link-hover-color: #0056b3;
    --axis-width: 14px;
    --shape-hover-color: #3605d6;
    --dom-a:#7f7f7f;
    --dom-b:#ff9046;
    --dom-c:#7599ff;
    --dom-d: var(--secondary-color);
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, ol {
    list-style: none;
}
/* end css rest */

/* Global styles */
html {
    background: radial-gradient(ellipse at bottom, #17212d 0%, #090a0f 100%);
    overflow: hidden;
}
header {
    margin-bottom: 0;
}
header h1 {
    text-align: center;
    font-size: clamp(22px, 2.5rem, 3vw);
}
body {
    font-family: "Space Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--text-color);
    padding: .75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vh;
    height: 100dvh;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}
a{
    color: var(--primary-color);
    text-decoration-line: underline;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 10%;
}
.main-wrapper {
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    display: flex;
    justify-content: start;
    align-items: start;
    height: 100%;
    padding: 0.25rem;
}
.idkwtf {
    min-height: 806px;
    min-width: 806px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 1rem 1rem;
    height: 100%;
}
main {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    padding-block: 0;
}
/* chart - axis adapted from ArturArsalanov's ruler */

.chart.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chart-area {
    position: relative;
    background-color: var(--secondary-color);
    width: 60vh;
    max-width: 69rem;
    min-width: 40rem;
    border: 2px solid var(--text-color);
    --transition-speed: 0.5s;
    aspect-ratio: 1 / 1;
}
.axis.x {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: var(--axis-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.axis.x.top {
    align-items: baseline;
}
.axis.x .major,
.axis.x .minor {
    height: var(--axis-width);
    width: 2px;
    background-color: var(--text-color);
    position: relative;
}
.axis.x .major:after {
    position: absolute;
    transform: translateX(-40%);
}
.axis.x.bottom .major:after {
    bottom: -1.75rem;
}
.axis.x.top .major:after {
    bottom: 1.25rem;
}
.axis.x .minor {
    height: 5px;
}
.axis .major:after {
    content: attr(data-value);
    font-weight: bold;
    font-size: 1.1rem;
}
.axis-wrapper {
    position: relative;
}
.axis-wrapper.y {
    margin-block: 14px;
}
.axis-wrapper.y.right {
    margin-right: 5rem;
}
.axis-wrapper.y.left {
    margin-left: 4.5rem;
}
.axis-title {
    position: absolute;
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
    font-weight: bold;
}
.axis-title.x {
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
}
.axis-title.x.top {
    bottom: 3.5rem;
}
.axis-title.x.bottom {
    top: 3rem;
}
.axis-title.y {
    transform-origin: 0 0;
    top: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.axis-title.y.left {
    left: -6.5rem;
}
.axis-title.y.left.log-mo {
    left: -4rem;
}
.axis-title.y.right {
    right: 0;
}
.axis-title.y p {
    transform: rotate(-90deg);
    width:max-content;
}
.axis.y {
    position: relative;
    height: 100%;
    margin-inline: 0;
    width: var(--axis-width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.axis.y.left {
    align-items: end;
    width: 2.5rem;
}
.axis.y.right {
    align-items: start;
}
.axis.y .major,
.axis.y .minor {
    height: 2px;
    width: 14px;
    background-color: var(--text-color);
    position: relative;
}
.axis.y .major:after {
    position: absolute;
    transform: translateY(-45%);
}
.axis.y.left .major:after {
    right: 1.5rem;
}
.axis.y.right .major:after {
    left: 1.5rem;
}
.axis.y .minor {
    width: 5px;
}
.axis.y.left.log-mo {
    border-right: 2px solid var(--text-color);
    margin-right: 1rem;
}
.chart .axis.y.log-mass-g,
.chart .axis.y.log-mass-gev {
    margin-block: 0;
    height: 100%;
}
.chart-mid.row {
    height: calc(100% + 2 * var(--axis-width));
    width: 100%;
}

/* labels on axis */
#mp-label::after {
    content: 'm\209A';
    position: absolute;
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
    transform: translateX(-50%);
    left: -40px;
    color: white;
    top: -12px;
}
.arrows-mass-g {
    --arrow-color:white;
    --arrow-hover-color: red;
    --arrow-width: 6;

    position: absolute;
    left: 27.5%;
    width: 28px;
    height: 100%;
    bottom: 0;
    z-index: 99;
}
.arrow {
    stroke: var(--arrow-color);
    stroke-width: var(--arrow-width);
}
.arrow:hover,
.arrow:hover ~ defs>#arrowhead {
    stroke: var(--arrow-hover-color);
    fill: var(--arrow-hover-color);
}
#arrowhead {
    fill:var(--arrow-color);
}

#mp:hover,
#qgp-label:hover,
body:has(#qgp:hover) #qgp-label,
body:has(#qgp-label:hover) #qgp {

}

/* inside the chart */
.shape {
    position: absolute;
    width: 100%;
    height: 100%;
    --opacity: 0.5;
    --line-color: var(--background-color);
    --dash-array: 1 0.5;
    --stroke-width: 0.25;
}
.chart-area .shape *,
.chart-area svg *,
.chart-area .shape-label {
    --transition-delay: 0s;
    transition: color var(--transition-speed), background-color var(--transition-speed) cubic-bezier(0, 1.3, 0.36, 1) var(--transition-delay), stroke var(--transition-speed), fill var(--transition-speed);
}
.circle {
    position: absolute;
}
.line {
    position: absolute;
    top: 0px;
    left: 0px;
    stroke-width: var(--stroke-width);
}
.dashed {
    stroke-dasharray: var(--dash-array);
}
.emoji {
    position: absolute;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.1;
    font-family: sans-serif;
    font-size: 10px;
    text-align: center;
    background-color: transparent;
    border: 4px solid transparent;
    border-radius: 50%;
    transform-origin: center;
}
.shape-label {
    position: absolute;
    font-weight: normal;
    font-size: 1.2rem;
    font-style: italic;
    transform-origin: 0 0;
    line-height: 1;
    color: var(--label-color);
    padding: .25rem;
    border-radius: 4px;
}
.dark-label {
    --label-color: rgba(0, 0, 0, 0.528);
}
.light-label {
    --label-color: white
}
#sub-plank {
    fill: transparent
}
#sub-plank-label {
    top: 55%;
    left: 2%;
    transform: rotate(-90deg);
    font-size: 1.4rem;
}
#sub-plank:hover,
#sub-plank-label:hover,
body:has(#sub-plank:hover) #sub-plank-label,
body:has(#sub-plank-label:hover) #sub-plank {
    --transition-delay: 0.3s;
    fill: var(--shape-hover-color);
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}
#ip-line {
    stroke: white;
    --stroke-width: 0.25;
}
#ep-line {
    stroke: white;
    --stroke-width: 0.25;
}
#bigboi {
    fill: var(--dom-b);
}
#oai {
    fill: rgb(127, 127, 127);
}
#om {
    fill: rgb(117, 153, 255);
}
#qgp {
    fill: rgba(255, 255, 255, 0.4);
}
#qgp-label {
    top: 65.5%;
    left: 30.25%;
    transform: rotate(-67deg);
    font-size: 1rem;
    text-align: center;
    color: var(--background-color);
    padding: .125rem;
}
#qgp:hover,
#qgp-label:hover,
body:has(#qgp:hover) #qgp-label,
body:has(#qgp-label:hover) #qgp {
    --transition-delay: 0.3s;
    fill: var(--shape-hover-color);
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}
#forbidden {
    fill: rgba(255, 72, 0, 0.4);
}
#forbidden-label {
    top: 31%;
    left: 12%;
    transform: rotate(-37.5deg);
    font-size: 2.5rem;
}
#forbidden:hover,
#forbidden-label:hover,
body:has(#forbidden:hover) #forbidden-label,
body:has(#forbidden-label:hover) #forbidden {
    --transition-delay: 0.3s;
    fill: var(--shape-hover-color);
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}
/* body:has([id*='forbidden']:hover) .chart-area > svg *:not(#forbidden),
body:has([id*='forbidden']:hover) .chart-area > span:not([id*='forbidden']) {
    filter: opacity(0.5);
} */
#quantum {
    fill: rgba(255, 72, 0, 0.4);
}
#quantum-label {
    top: 68%;
    left: 7%;
    transform: rotate(37.5deg);
    font-size: 2.3rem;
    text-align: center;
}
#quantum:hover,
#quantum-label:hover,
body:has(#quantum:hover) #quantum-label,
body:has(#quantum-label:hover) #quantum {
    --transition-delay: 0.3s;
    fill: var(--shape-hover-color);
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);

}
#black-holes {
    stroke: var(--background-color);
    --stroke-width: 0.45;
}
#black-holes-label {
    bottom: 44%;
    left: 9.3%;
    transform: rotate(-37.5deg);
    font-size: 1.8rem;
    text-align: center;
}
#black-holes:hover,
#black-holes-label:hover,
body:has(#black-holes:hover) #black-holes-label,
body:has(#black-holes-label:hover) #black-holes {
    stroke: var(--shape-hover-color);
    stroke-width: .75;
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}
#compton {
    stroke: var(--background-color);
    --stroke-width: 0.5;
}
#compton-label {
    top: 67%;
    left: 17%;
    transform: rotate(37.5deg);
    font-size: 1.6rem;
    text-align: center;
}
#compton:hover,
#compton-label:hover,
body:has(#compton:hover) #compton-label,
body:has(#compton-label:hover) #compton {
    stroke: var(--shape-hover-color);
    stroke-width: .75;
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}
#qg {
    fill: var(--background-color);
}
#qg-label {
    top: 57.5%;
    left: 0.5%;
}
#plank {
    stroke: white;
}
#plank-label {
    top: 19%;
    left: 20%;
    transform: rotate(-67deg);
    font-size: 1.2rem;
    text-align: center;
    color: white;
}
#plank:hover,
#plank-label:hover,
body:has(#plank:hover) #plank-label,
body:has(#plank-label:hover) #plank {
    stroke: var(--shape-hover-color);
    stroke-width: .35;
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}
#gut {
    stroke: white;
}
#gut-label {
    top: 16%;
    left: 27.5%;
    transform: rotate(-67deg);
    font-size: 1.2rem;
    text-align: center;
    color: white;
}
#gut:hover,
#gut-label:hover,
body:has(#gut:hover) #gut-label,
body:has(#gut-label:hover) #gut {
    stroke: var(--shape-hover-color);
    stroke-width: .35;
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}
#ew {
    stroke: white;
}
#ew-label {
    top: 14.5%;
    left: 45.25%;
    transform: rotate(-67deg);
    font-size: 1.2rem;
    text-align: center;
    color: white;
}
#ew:hover,
#ew-label:hover,
body:has(#ew:hover) #ew-label,
body:has(#ew-label:hover) #ew {
    stroke: var(--shape-hover-color);
    stroke-width: .35;
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}
#nuclear {
    stroke: white;
}
#nuclear-label {
    top: 21.5%;
    left: 47%;
    transform: rotate(-67deg);
    font-size: 1.2rem;
    text-align: center;
    color: white;
}
#nuclear:hover,
#nuclear-label:hover,
body:has(#nuclear:hover) #nuclear-label,
body:has(#nuclear-label:hover) #nuclear {
    stroke: var(--shape-hover-color);
    stroke-width: .35;
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}
#atomic {
    stroke: white;
}
#atomic-label {
    top: 18.5%;
    left: 53.25%;
    transform: rotate(-67deg);
    font-size: 1.2rem;
    text-align: center;
    color: white;
}
#atomic:hover,
#atomic-label:hover,
body:has(#atomic:hover) #atomic-label,
body:has(#atomic-label:hover) #atomic {
    stroke: var(--shape-hover-color);
    stroke-width: .35;
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}
#recomb {
    stroke: white;
}
#recomb-label {
    top: 19.5%;
    left: 60%;
    transform: rotate(-67deg);
    font-size: 1.2rem;
    text-align: center;
    color: white;
}
#recomb:hover,
#recomb-label:hover,
body:has(#recomb:hover) #recomb-label,
body:has(#recomb-label:hover) #recomb {
    stroke: var(--shape-hover-color);
    stroke-width: .35;
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}
#now {
    stroke: var(--background-color);
    --stroke-width: 0.45;
}
#now-label {
    top: 5.5%;
    left: 70%;
    transform: rotate(-67deg);
    font-size: 1.2rem;
    text-align: center;
    color: black;
}
#now:hover,
#now-label:hover,
body:has(#now:hover) #now-label,
body:has(#now-label:hover) #now {
    stroke: var(--shape-hover-color);
    stroke-width: .6;
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}
#instanton {
    fill: var(--background-color);
    stroke: white;
    stroke-width: 25px;
    top: 57%;
    left: 4.8%;
}
#instanton-label {
    top: 62%;
    left: 3%;
    font-size: 1rem;
    text-align: center;
    color: white;
}
#instanton circle:hover,
#instanton-label:hover,
body:has(#instanton circle:hover) #instanton-label,
body:has(#instanton-label:hover) #instanton circle {
    stroke: var(--shape-hover-color);
    fill: white;
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}
body:has(#instanton-label:hover) .bang {
    transform: scale(10);
}
#sopbh {
    fill: var(--background-color);
    stroke: transparent;
    stroke-width: 16;
    top: 41.3%;
    left: 25.5%;
}
#sopbh-label {
    top: 45%;
    left: 24%;
    font-size: 1rem;
    text-align: center;
    color: var(--background-color);
    width: 11ch;
}
#sopbh circle:hover,
#sopbh-label:hover,
body:has(#sopbh circle:hover) #sopbh-label,
body:has(#sopbh-label:hover) #sopbh circle {
    stroke: var(--shape-hover-color);
    fill: white;
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}
#threekbh {
    fill: var(--background-color);
    stroke: transparent;
    stroke-width: 16;
    top: 32%;
    left: 37.6%;
}
#threekbh-label {
    top: 36%;
    left: 38%;
    font-size: 1rem;
    text-align: center;
    color: var(--background-color);
}
#threekbh circle:hover,
#threekbh-label:hover,
body:has(#threekbh circle:hover) #threekbh-label,
body:has(#threekbh-label:hover) #threekbh circle {
    stroke: var(--shape-hover-color);
    fill: white;
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}
#hubble {
    fill: var(--background-color);
    stroke: transparent;
    stroke-width: 16;
    top: 7%;
    left: 70%;
}
#hubble-label {
    top: 8%;
    left: 74.75%;
    font-size: 1rem;
    text-align: center;
    color: var(--background-color);
}
#hubble circle:hover,
#hubble-label:hover,
body:has(#hubble circle:hover) #hubble-label,
body:has(#hubble-label:hover) #hubble circle {
    stroke: var(--shape-hover-color);
    fill: white;
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}

#human {
    top: 51%;
    left: 42.5%;
}
#human-label {
    top: 51%;
    left: 45.75%;
    font-size: 1rem;
    text-align: center;
    color: var(--background-color);
}
#human:hover,
#human-label:hover,
body:has(#human:hover) #human-label,
#human:focus,
#human-label:focus,
body:has(#human:focus) #human-label {
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}
#human:hover,
body:has(#human-label:hover) #human,
#human:focus,
body:has(#human-label:focus) #human  {
    border-color: var(--shape-hover-color);
    background-color: var(--shape-hover-color);
}
#whale {
    top: 47.25%;
    left: 44%;
}
#whale-label {
    top: 47.5%;
    left: 47.2%;
    font-size: 1rem;
    text-align: center;
    color: var(--background-color);
}
#whale:hover,
#whale-label:hover,
body:has(#whale:hover) #whale-label,
#whale:focus,
#whale-label:focus,
body:has(#whale:focus) #whale-label {
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}
#whale:hover,
body:has(#whale-label:hover) #whale,
#whale:focus,
body:has(#whale-label:focus) #whale  {
    border-color: var(--shape-hover-color);
    background-color: var(--shape-hover-color);
}
#flea {
    fill: var(--background-color);
    stroke: transparent;
    stroke-width: 16;
    top: 55.5%;
    left: 39.2%;
}
#flea-label {
    top: 56.5%;
    left: 43%;
    font-size: 1rem;
    text-align: center;
    color: var(--background-color);
}
#flea circle:hover,
#flea-label:hover,
body:has(#flea circle:hover) #flea-label,
body:has(#flea-label:hover) #flea circle {
    stroke: var(--shape-hover-color);
    fill: white;
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}
#bacterium {
    top: 64.25%;
    left: 36.75%;
}
#bacterium-label {
    top: 64.5%;
    left: 40%;
    font-size: 1rem;
    text-align: center;
    color: var(--background-color);
}
#bacterium:hover,
#bacterium-label:hover,
body:has(#bacterium:hover) #bacterium-label,
#bacterium:focus,
#bacterium-label:focus,
body:has(#bacterium:focus) #bacterium-label {
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}
#bacterium:hover,
body:has(#bacterium-label:hover) #bacterium,
#bacterium:focus,
body:has(#bacterium-label:focus) #bacterium  {
    border-color: var(--shape-hover-color);
    background-color: var(--shape-hover-color);
}
#covid {
    fill: var(--background-color);
    stroke: transparent;
    stroke-width: 16;
    top: 65.5%;
    left: 34.9%;
}
#covid-label {
    top: 67%;
    left: 38.75%;
    font-size: 1rem;
    text-align: center;
    color: var(--background-color);
}
#covid circle:hover,
#covid-label:hover,
body:has(#covid circle:hover) #covid-label,
body:has(#covid-label:hover) #covid circle {
    stroke: var(--shape-hover-color);
    fill: white;
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}
#atoms {
    fill: rgba(0, 0, 0, 0.5);
    stroke: transparent;
    stroke-width: 8;
}
#atoms-label {
    top: 73%;
    left: 35.75%;
    font-size: 1rem;
    text-align: center;
    color: var(--background-color);
}
#atoms:hover,
#atoms-label:hover,
body:has(#atoms:hover) #atoms-label,
body:has(#atoms-label:hover) #atoms {
    stroke: var(--shape-hover-color);
    fill: white;
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}
#moonsdp {
    fill: rgba(0, 205, 55, 0.5);
    stroke: transparent;
    stroke-width: 0.75;
}
#moonsdp-label {
    top: 40%;
    left: 50%;
    font-size: 1rem;
    text-align: center;
    color: var(--background-color);
}
#moonsdp:hover,
#moonsdp-label:hover,
body:has(#moonsdp:hover) #moonsdp-label,
body:has(#moonsdp-label:hover) #moonsdp {
    stroke: var(--shape-hover-color);
    fill: white;
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}
#planets {
    fill: rgba(82, 0, 224, 0.5);
    stroke: transparent;
    stroke-width: 0.75;
}
#planets-label {
    top: 30%;
    left: 53.75%;
    font-size: 1rem;
    text-align: center;
    color: var(--background-color);
}
#planets:hover,
#planets-label:hover,
body:has(#planets:hover) #planets-label,
body:has(#planets-label:hover) #planets  {
    stroke: var(--shape-hover-color);
    fill: white;
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}
#earth {
    top: 32%;
    left: 50.25%;
}
#earth-label {
    top: 32.5%;
    left: 53.5%;
    font-size: 1rem;
    text-align: center;
    color: var(--background-color);
}
#earth:hover,
#earth-label:hover,
body:has(#earth:hover) #earth-label,
#earth:focus,
#earth-label:focus,
body:has(#earth:focus) #earth-label {
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}
#earth:hover,
body:has(#earth-label:hover) #earth,
#earth:focus,
body:has(#earth-label:focus) #earth  {
    border-color: var(--shape-hover-color);
    background-color: var(--shape-hover-color);
}
#mss {
    fill: rgba(0, 97, 224, 0.5);
    stroke: transparent;
    stroke-width: 0.75;
}
#mss-label {
    top: 24%;
    left: 56%;
    font-size: 1rem;
    text-align: center;
    color: var(--background-color);
}
#mss:hover,
#mss-label:hover,
body:has(#mss:hover) #mss-label,
body:has(#mss-label:hover) #mss  {
    stroke: var(--shape-hover-color);
    fill: white;
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}
#sun {
    top: 27%;
    left: 52.5%;
}
#sun-label {
    top: 27.5%;
    left: 55.75%;
    font-size: 1rem;
    text-align: center;
    color: var(--background-color);
}
#sun:hover,
#sun-label:hover,
body:has(#sun:hover) #sun-label,
#sun:focus,
#sun-label:focus,
body:has(#sun:focus) #sun-label {
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}
#sun:hover,
body:has(#sun-label:hover) #sun,
#sun:focus,
body:has(#sun-label:focus) #sun  {
    border-color: var(--shape-hover-color);
    background-color: var(--shape-hover-color);
}
#galaxies {
    fill: rgba(0, 224, 153, 0.5);
    stroke: transparent;
    stroke-width: 0.75;
}
#galaxies-label {
    top: 20%;
    left: 67.75%;
    font-size: 1rem;
    text-align: center;
    color: var(--background-color);
}
#galaxies:hover,
#galaxies-label:hover,
body:has(#galaxies:hover) #galaxies-label,
body:has(#galaxies-label:hover) #galaxies  {
    stroke: var(--shape-hover-color);
    fill: white;
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}
#redg {
    fill: rgba(0, 97, 224, 0.5);
    stroke: transparent;
    stroke-width: 0.75;
}
#redg-label {
    top: 27%;
    left: 55.75%;
    font-size: 1rem;
    text-align: center;
    color: var(--background-color);
}
#redg:hover,
#redg-label:hover,
body:has(#redg:hover) #redg-label,
body:has(#redg-label:hover) #redg  {
    stroke: var(--shape-hover-color);
    fill: white;
    color: white;
    font-weight: bolder;
    background-color: var(--shape-hover-color);
}



.domination {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: .75rem;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: #dedede;
    bottom: .75rem;
    right: .75rem;
    color: var(--background-color);
}
.domination .title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0;
}
.domination .cat {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
}
.cat .label-color {
    width: 6rem;
    height: 1.75rem;
    line-height: 1.2;
}
.label-color.a {
    background-color: var(--dom-a);
}
.label-color.b {
    background-color: var(--dom-b);
}
.label-color.c {
    background-color: var(--dom-c);
}
.label-color.d {
    background-color: var(--dom-d)
}
footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-inline: auto;
    padding-inline: 1rem;
    margin-top: 1rem;
    text-align: left;

    & p {
        font-size: 90%;
        max-width: 100ch;
        text-align: justify;
        word-spacing: -6px;
        line-height: 1.4;
    }
}
.drawer {
    display: none;
}

@media (max-width: 430px) {
    .drawer {
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        font-size: 1rem;
    }
    .drawer-handle {
        width: 100%;
        text-align: center;
        padding-block: .5rem;
        cursor: pointer;

        & svg {
            margin-inline: auto;
            transform: rotate(0deg);
            transition: transform 0.3s linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%);
            stroke: var(--primary-color);
            stroke-width: 2px;
        }
    }
    .info {
        text-align: center;
        font-weight: bold;
    }
    footer {
        transform: translateY(80%);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #37465461;
        padding-inline: 1rem;
        padding-block: 1rem 2rem;
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
        box-shadow: 0 0 14px 7px #0000004f;
        transition: transform 0.3s linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%);
        backdrop-filter: blur(24px);
    }
    body:has(#drawer-toggle:checked) footer {
        transform: translateY(0%);
    }
    #drawer-toggle:checked ~ .drawer-handle .chevron {
        transform: rotate(180deg);
        stroke: currentColor;
    }
    body {
        justify-content: start;
        gap:.5rem;
    }
    .main-wrapper {
        margin-bottom: 50px;
    }
}